@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,500;6..96,600;6..96,700;6..96,800&family=Cormorant+Garamond:wght@400;500;600;700&family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');
@import url('../globals.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

.box-texto{
    max-width: 21.25em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-content: center;
    justify-content: left;
    max-height:19.5em;
    flex-shrink: 5;
    padding: 1.25em 0;
}

.box-imagen-texto{ 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 1.25em;
}

.box-con-botones{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 2em;
    gap: 1.25em;
    background:var(--sec-b-100);
    border: 1px solid #000;
}

.box-auxiliar{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.box-empty{
    width: calc(19.5em + 2*1.25em);
}

.box-nuevo-qr{
    width: 19.5em;
    padding: 0 1.25em;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    color: var(--text-color-default);
    font-family: var(--texto-font), sans-serif;
    font-weight: var(--weight-light);
    text-decoration: underline;
}

.box-nuevo-qr:hover{
    color: var(--sec-b-400);
}

.box-nuevo-qr:active{
    color: var(--sec-b-300);
}

.imagen-qr{
    width: 19.5em;
    height: 19.5em;
    flex-shrink: 0;
    flex-grow: 0;
    object-fit: cover;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    display: flex;
}

.opciones:hover{
    color: var(--primary-400);
    text-decoration: underline;
    cursor:pointer;
}

.opciones:active{
    color: var(--primary-def);
    text-decoration: underline;
    cursor:pointer;
}