@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,500;6..96,600;6..96,700;6..96,800&family=Cormorant+Garamond:wght@400;500;600;700&family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');
@import url('../globals.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

.texto-precio-producto-tienda{
    color: var(--text-color-default);
    font-family: var(--subtitulo-font), serif;
    font-weight: var(--weight-medium);
    font-variant-numeric: var(--numbers-cormorant-garamond);
    text-align: left;
  }
  
  .texto-tags-producto-tienda{
    color: var(--text-color-default);
    font-family: var(--texto-font), sans-serif;
    font-weight: var(--weight-light);
    font-style: italic;
    text-align: left;
  }

  .boton-producto{
    display:flex;
    flex-wrap: wrap;
    padding: 1.25rem 1.25rem;
    background-color: var(--gris-200);
    transition-duration: 350ms;
    align-items: center;
    gap: 0.75rem;
    flex-direction: column;
    object-fit: contain;
  }
  
  .boton-producto:hover{
    background-color: var(--gris-400);
  }
  
  .conjunto-productos{
    align-items: center;
    align-content: center;
    justify-content: left;
    display:flex;
    flex-wrap: wrap;
    flex: 1 1 content;
    gap:2.5rem;
    max-width: calc(5*9.75em + 4*2.5rem + 10*1.25em);
  }

  .imagen-producto-tienda{
    width: 9.75em;
    height: 9.75em;
    flex-shrink: 0;
    object-fit: contain;
    background-color: var(--primary-100);
  }

  .imagen-producto-tienda:hover{
    filter: blur(0px);
    -webkit-filter: blur(2px);
  }

  .filter-bar{
    width: 83.4%;
    display:flex;
    justify-content: left;
    align-items: center;
    gap:1em;
    contain: content;
  }
  
  .texto-filter-bar{
    font-family: var(--texto-font), sans-serif;
    font-weight: var(--weight-light);
    font-size: 1em;
    white-space: nowrap;
    color: var(--primary-100);
  }
  
  .texto-filter-bar:hover{
    color: var(--primary-300);
    text-decoration: underline;
    cursor: pointer;
  }
  
  .icons-filter-bar{
    color: var(--primary-100);
    display:flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap:1em;
    font-size: 1.5em;
    width: 100%;
  }
  
  .icons-filter-bar:hover{
    color: var(--primary-300);
    cursor: pointer;
  }
  
  .icons-filter-bar:active{
    color: var(--primary-100);
    cursor: pointer;
  }