@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,500;6..96,600;6..96,700;6..96,800&family=Cormorant+Garamond:wght@400;500;600;700&family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');
@import url('../../globals.css');

@tailwind base;
@tailwind components;
@tailwind utilities;


.box-con-equis{ 
    display: flex; 
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 0.75em;
    background:var(--gris-400);
    padding:1em 2em 3.5em;
    height:auto;
}

.box-datos-imagen{ 
    display:flex;
    align-content:center;
    align-items:center;
    justify-content:center;
    flex-wrap: wrap;
    height:auto;
    gap: 1.25em
}

.box-datos{
    align-self: center;
    flex-direction:column;
    display: flex;
    flex-wrap: nowrap;
    max-width: 36.25em;
    max-height: 25em;
    flex-shrink: 1;
    justify-content: left;
    align-items: left;
    align-content: center;
    gap: 0.75em;
    height:auto;
}

.box-tags{
    display: flex;
    border-color: #000000;
    border-width: 0.5px;
    align-items: center;
    justify-content: center; 
    max-height: 1.75em;
    padding: 0 0.25em;
}

.tituloItemIndividual{
    display:flex;
    flex-wrap: wrap;
    color: var(--text-color-default);
    font-family: var(--titulo-font), serif;
    font-weight: var(--weight-bold);
    font-variant-numeric: var(--numbers-cormorant-garamond);
    flex-shrink: 1;
}

.texto-precio-producto-pagina-individual{
    display:flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    color: var(--text-color-default);
    font-family: var(--subtitulo-font), serif;
    font-weight: var(--weight-bold);
    font-variant-numeric: var(--numbers-cormorant-garamond);
  }
  
  .texto-tags-pagina-individual{
    display:flex;
    flex-shrink: 1;
    color: var(--text-color-default);
    font-family: var(--texto-font), sans-serif;
    font-weight: var(--weight-light);
    font-style: italic;
    text-align: center;
  }
  
  .texto-cuerpo-pagina-individual{
    display:flex;
    flex-wrap: wrap;
    flex-shrink: 1;
    color: var(--text-color-default);
    font-family: var(--texto-font), sans-serif;
    font-weight: var(--weight-regular);
    text-align: left;
    line-height: 2rem;
  }

.imagen-producto-individual{
    width: 25em;
    height: 25em;
    flex-shrink: 0;
    flex-grow: 0;
    object-fit: cover;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    text-align: center;
    display: flex;
}